form {
  position: fixed;
}

input {
  position: relative;
  float: left;
  clear: left;
  margin: 10px 0;
  display: block;
}

input::after {
  content: '';
  clear: both;
}

div {
  position: relative;
  float: left;
  width: 100%;
  min-height: 38px;
  border: 1px solid black;
}

div::after {
  content: '';
  clear: both;
}

.absolute {
  position: absolute;
  -webkit-transform: translate(1px);
  transform: translate(1px);
  //z-index: 2000;
}
