input {
  position: relative;
  float: left;
  clear: left;
  margin: 10px 0;
  display: block;
}

input::after {
  content: '';
  clear: both;
}

div {
  position: relative;
  float: left;
  width: 100%;
  min-height: 38px;
  border: 1px solid #eee;
  border-radius: 2px;
}

div::after {
  content: '';
  clear: both;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
  -webkit-transform: translate(1px);
  transform: translate(1px);
  //z-index: 2000;
  -webkit-overflow-scrolling: touch;
}
